# Introduction to Data Science (CS4661). Cal State Univ. LA, CS Dept.
#### Instructor: Dr. Mohammad Porhomayoun
---------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------


# Data Science in Python

#### This is an introduction to some data sceince libraries/packages in python. Feel free to refer to the suggested resources and documentaries for more details.

---------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------

## Let's start working with Python Libraries and Packages:
To use a Library/Package in python, we first need to import it:

In [ ]:
# To use a Library/Package in python, we first need to import it:

# import ...
# import ... as ...
# From ... import ...

# Numpy Package:

In [1]:
# Numpy is a library for performing advanced mathematical operations on Arrays

import numpy as np # it means that we can use abbreviation "np" from now on to refer to numpy functions

In [2]:
avg = np.mean([1,3,5,4,2,6,7,1,-5,4,2])  # mean (average) using numpy function "mean"
print (avg)

st = np.std([1,3,5,4,2,6,7,1,-5,4,2])    # standard deviation using numpy function "std"
print (st)

2.727272727272727
3.0775110690565013

##### We will talk more about numpy in next tutorials!

# Pandas Package:
#### Pandas introduces two new data structures to Python: Series and DataFrame.
- A Series is a one-dimensional vector similar to an array, list, or column in a table.
- A DataFrame is a structured data table (or Matrix) comprised of rows and columns.

#### Pandas is a powerful library to read, manipulate, and process data in the form of Series and DataFrame structures. Pandas allows working with Big Data. Pandas DataFrames are identical to "R" DataFrames.

In [3]:
# The first thing to do is to import the pandas library:
# Pandas is a powerful library to read and process data tables

import pandas as pd

### Creating a Series from an arbitrary python list

In [4]:
# creating a Series from an arbitrary python list
s = pd.Series([1,20,32,12,-6.5])
print(s)

0     1.0
1    20.0
2    32.0
3    12.0
4    -6.5
dtype: float64

In [5]:
print(s[3])

12.0

### Creating a DataFrame

In [6]:
# creating and empty DataFrame:
df = pd.DataFrame()

# Adding new columns:
df['first_name'] = ['Tom','Ryan','Jack','Sarah']
df['Gender'] = ['male','male','male','female']

print(df)

  first_name  Gender
0        Tom    male
1       Ryan    male
2       Jack    male
3      Sarah  female

In [7]:
# Adding new columns:
df['age'] = [45,34,32,43]

print(df)

  first_name  Gender  age
0        Tom    male   45
1       Ryan    male   34
2       Jack    male   32
3      Sarah  female   43

### Creating a DataFrame from an arbitrary python dictionary

In [10]:
# creating a DataFrame from an arbitrary python dictionary

dic = {'first_name':['Tom','Ryan','Jack','Sarah'],'Gender':['male','male','male','female']}

df = pd.DataFrame(dic)

print(df)

  first_name  Gender
0        Tom    male
1       Ryan    male
2       Jack    male
3      Sarah  female

In [11]:
# creating a DataFrame from a dictionary and defining the columns and order of them:

df = pd.DataFrame(dic,columns=['first_name','Gender'])

print(df)

  first_name  Gender
0        Tom    male
1       Ryan    male
2       Jack    male
3      Sarah  female

### Reading/Loading iris dataset from the web/local_device and storing it in a DataFrame:

In [12]:
# loading a CSV file from local device and store it in a pandas DataFrame:
# "read_csv" is a pandas function to read csv files from web or local device:

df = pd.read_csv('/Users/mpourho/Documents/CSU/Courses/CS4661/Datasets/iris.csv')

FileNotFoundError: [Errno 2] File b'/Users/mpourho/Documents/CSU/Courses/CS4661/Datasets/iris.csv' does not exist: b'/Users/mpourho/Documents/CSU/Courses/CS4661/Datasets/iris.csv'

In [13]:
# reading a CSV file directly from Web, and store it in a pandas DataFrame:
# "read_csv" is a pandas function to read csv files from web or local device:

df = pd.read_csv('https://raw.githubusercontent.com/mpourhoma/CS4661/master/iris.csv')

### DataFrame is a table in pandas with rows and columns to store the dataset

In [16]:
# displaying the DataFrame:

df  # you can also use print(df)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
6             4.6          3.4           1.4          0.3     setosa
7             5.0          3.4           1.5          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
9             4.9          3.1           1.5          0.1     setosa
10            5.4          3.7           1.5          0.2     setosa
11            4.8          3.4           1.6          0.2     setosa
12            4.8          3.0           1.4          0.1     setosa
13            4.3          3.0           1.1          0.1     setosa
14            5.8          4.0           1.2          0.2     setosa
15            5.7          4.4           1.5          0.4     setosa
16            5.4          3.9           1.3          0.4     setosa
17            5.1          3.5           1.4          0.3     setosa
18            5.7          3.8           1.7          0.3     setosa
19            5.1          3.8           1.5          0.3     setosa
20            5.4          3.4           1.7          0.2     setosa
21            5.1          3.7           1.5          0.4     setosa
22            4.6          3.6           1.0          0.2     setosa
23            5.1          3.3           1.7          0.5     setosa
24            4.8          3.4           1.9          0.2     setosa
25            5.0          3.0           1.6          0.2     setosa
26            5.0          3.4           1.6          0.4     setosa
27            5.2          3.5           1.5          0.2     setosa
28            5.2          3.4           1.4          0.2     setosa
29            4.7          3.2           1.6          0.2     setosa
..            ...          ...           ...          ...        ...
120           6.9          3.2           5.7          2.3  virginica
121           5.6          2.8           4.9          2.0  virginica
122           7.7          2.8           6.7          2.0  virginica
123           6.3          2.7           4.9          1.8  virginica
124           6.7          3.3           5.7          2.1  virginica
125           7.2          3.2           6.0          1.8  virginica
126           6.2          2.8           4.8          1.8  virginica
127           6.1          3.0           4.9          1.8  virginica
128           6.4          2.8           5.6          2.1  virginica
129           7.2          3.0           5.8          1.6  virginica
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
132           6.4          2.8           5.6          2.2  virginica
133           6.3          2.8           5.1          1.5  virginica
134           6.1          2.6           5.6          1.4  virginica
135           7.7          3.0           6.1          2.3  virginica
136           6.3          3.4           5.6          2.4  virginica
137           6.4          3.1           5.5          1.8  virginica
138           6.0          3.0           4.8          1.8  virginica
139           6.9          3.1           5.4          2.1  virginica
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [17]:
# display the first 5 rows (default) of Dataframe data:

df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [18]:
# display the first 7 rows (default) of Dataframe data:

df.head(7)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa

In [19]:
# display the last 5 rows of Dataframe data:

df.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [20]:
# check the shape of the DataFrame (rows, columns):

df.shape

(150, 5)

In [21]:
# returns the list (names) of columns:

col = df.columns
print (col)

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

### Working with columns of a DataFrame:

In [30]:
# Selecting a column of a DataFrame:
# [] returns a column as a series

df['sepal_length']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
5      5.4
6      4.6
7      5.0
8      4.4
9      4.9
10     5.4
11     4.8
12     4.8
13     4.3
14     5.8
15     5.7
16     5.4
17     5.1
18     5.7
19     5.1
20     5.4
21     5.1
22     4.6
23     5.1
24     4.8
25     5.0
26     5.0
27     5.2
28     5.2
29     4.7
      ...
120    6.9
121    5.6
122    7.7
123    6.3
124    6.7
125    7.2
126    6.2
127    6.1
128    6.4
129    7.2
130    7.4
131    7.9
132    6.4
133    6.3
134    6.1
135    7.7
136    6.3
137    6.4
138    6.0
139    6.9
140    6.7
141    6.9
142    5.8
143    6.8
144    6.7
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [33]:
# Selecting several columns of a DataFrame:
# we can use [[]] in one line (notice the double brackets!)
# [[]] returns column(s) as a new DataFrame

df[['sepal_length','petal_length']]

     sepal_length  petal_length
0             5.1           1.4
1             4.9           1.4
2             4.7           1.3
3             4.6           1.5
4             5.0           1.4
5             5.4           1.7
6             4.6           1.4
7             5.0           1.5
8             4.4           1.4
9             4.9           1.5
10            5.4           1.5
11            4.8           1.6
12            4.8           1.4
13            4.3           1.1
14            5.8           1.2
15            5.7           1.5
16            5.4           1.3
17            5.1           1.4
18            5.7           1.7
19            5.1           1.5
20            5.4           1.7
21            5.1           1.5
22            4.6           1.0
23            5.1           1.7
24            4.8           1.9
25            5.0           1.6
26            5.0           1.6
27            5.2           1.5
28            5.2           1.4
29            4.7           1.6
..            ...           ...
120           6.9           5.7
121           5.6           4.9
122           7.7           6.7
123           6.3           4.9
124           6.7           5.7
125           7.2           6.0
126           6.2           4.8
127           6.1           4.9
128           6.4           5.6
129           7.2           5.8
130           7.4           6.1
131           7.9           6.4
132           6.4           5.6
133           6.3           5.1
134           6.1           5.6
135           7.7           6.1
136           6.3           5.6
137           6.4           5.5
138           6.0           4.8
139           6.9           5.4
140           6.7           5.6
141           6.9           5.1
142           5.8           5.1
143           6.8           5.9
144           6.7           5.7
145           6.7           5.2
146           6.3           5.0
147           6.5           5.2
148           6.2           5.4
149           5.9           5.1

[150 rows x 2 columns]

### Working with rows of a DataFrame:

In [24]:
dic = {'first_name':['Tom','Ryan','Jack','Sarah'],'Gender':['male','male','male','female']}
df = pd.DataFrame(dic)
print(df)
print('\n')

print(df[0:2]) # rows 0 and 1
print('\n')

print(df[-1:]) # the last row
print('\n')

print(df[2:4]) # rows 2-3
print('\n')

print(df[:-1]) # all but the last row
print('\n')

  first_name  Gender
0        Tom    male
1       Ryan    male
2       Jack    male
3      Sarah  female


  first_name Gender
0        Tom   male
1       Ryan   male


  first_name  Gender
3      Sarah  female


  first_name  Gender
2       Jack    male
3      Sarah  female


  first_name Gender
0        Tom   male
1       Ryan   male
2       Jack   male

### Working with cells of a DataFrame:

In [25]:
df = pd.read_csv('https://raw.githubusercontent.com/mpourhoma/CS4661/master/iris.csv')

# Selecting a cell by row and column names:

print(df.loc[3,'sepal_length'])

4.6

In [26]:
# Selecting and slicing by row and column names:

df.loc[3:7,['sepal_length','sepal_width']]

   sepal_length  sepal_width
3           4.6          3.1
4           5.0          3.6
5           5.4          3.9
6           4.6          3.4
7           5.0          3.4

In [39]:
# Selecting and slicing by position in the table:

df.iloc[60:75,0:3]

    sepal_length  sepal_width  petal_length
60           5.0          2.0           3.5
61           5.9          3.0           4.2
62           6.0          2.2           4.0
63           6.1          2.9           4.7
64           5.6          2.9           3.6
65           6.7          3.1           4.4
66           5.6          3.0           4.5
67           5.8          2.7           4.1
68           6.2          2.2           4.5
69           5.6          2.5           3.9
70           5.9          3.2           4.8
71           6.1          2.8           4.0
72           6.3          2.5           4.9
73           6.1          2.8           4.7
74           6.4          2.9           4.3

### Filtering the rows based on a condition on column(s):

In [31]:
# Selecting only the rows for which sepal_length > 7.5

df[df['sepal_length'] > 7.5]

     sepal_length  sepal_width  petal_length  petal_width    species
105           7.6          3.0           6.6          2.1  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
122           7.7          2.8           6.7          2.0  virginica
131           7.9          3.8           6.4          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica

In [34]:
df[df['sepal_length'] == 6.5]

     sepal_length  sepal_width  petal_length  petal_width     species
54            6.5          2.8           4.6          1.5  versicolor
104           6.5          3.0           5.8          2.2   virginica
110           6.5          3.2           5.1          2.0   virginica
116           6.5          3.0           5.5          1.8   virginica
147           6.5          3.0           5.2          2.0   virginica

In [38]:
df.loc[df['sepal_length'] == 6.5,['sepal_length','sepal_width']]

     sepal_length  sepal_width
54            6.5          2.8
104           6.5          3.0
110           6.5          3.2
116           6.5          3.0
147           6.5          3.0

In [36]:
# Selecting the rows based on conditions on multiple columns:

df[(df['sepal_length'] > 7.5) & (df['petal_length'] < 6.7)]

     sepal_length  sepal_width  petal_length  petal_width    species
105           7.6          3.0           6.6          2.1  virginica
131           7.9          3.8           6.4          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica

In [44]:
# applying a function on one specific column of a DataFrame:

# defining a function:
def myInc(a):
    a += 1
    return a 


# applying the above function on one column on the DataFrame:
#before
df['sepal_length'] = myInc(df['sepal_length'])

df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           9.1          3.5           1.4          0.2  setosa
1           8.9          3.0           1.4          0.2  setosa
2           8.7          3.2           1.3          0.2  setosa
3           8.6          3.1           1.5          0.2  setosa
4           9.0          3.6           1.4          0.2  setosa

In [45]:
# More "Pythonic" way:

# applying the above function on one column on the DataFrame using method "apply":

df['sepal_length'] = df['sepal_length'].apply(myInc)

df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0          10.1          3.5           1.4          0.2  setosa
1           9.9          3.0           1.4          0.2  setosa
2           9.7          3.2           1.3          0.2  setosa
3           9.6          3.1           1.5          0.2  setosa
4          10.0          3.6           1.4          0.2  setosa

### It is common in sklearn to save Features in a table called Feature Matrix, and the Labels in a separate vector called Label Vector or Response Vector.

In [46]:
# Creating the Feature Matrix for iris dataset:

# create a python list of feature names that would like to pick from the dataset:
feature_cols = ['sepal_length','sepal_width','petal_length','petal_width']

# use the above list to select the features from the original DataFrame
X = df[feature_cols]  

# print the first 5 rows
X.head()

   sepal_length  sepal_width  petal_length  petal_width
0          10.1          3.5           1.4          0.2
1           9.9          3.0           1.4          0.2
2           9.7          3.2           1.3          0.2
3           9.6          3.1           1.5          0.2
4          10.0          3.6           1.4          0.2

In [47]:
# checking the size of Feature Matix X:
print(X.shape)

(150, 4)

In [48]:
# Creating the Feature Matrix for iris dataset:

# equivalently we can use [[]] in one line (notice the double brackets!)
X = df[['sepal_length','sepal_width','petal_length','petal_width']]

# print the first 5 rows
X.head()

   sepal_length  sepal_width  petal_length  petal_width
0          10.1          3.5           1.4          0.2
1           9.9          3.0           1.4          0.2
2           9.7          3.2           1.3          0.2
3           9.6          3.1           1.5          0.2
4          10.0          3.6           1.4          0.2

In [ ]:
# select a Series of labels (the last column) from the DataFrame
y = df['species']

# print the first 5 values
y.head()

#### We will talk more about pandas in next tutorials!